<!-- <div class="card">
  <div class="card-body">

      <p class="card-text" *ngIf="!!post">{{post.content}}</p>

      <button class="btn btn-xs bg-primary text-light" (click)="readMore(post.postId)">
          Read More
      </button>

  </div>
</div> -->


<div class="user-avatar">
  <img src="https://image.shutterstock.com/image-vector/man-avatar-profile-picture-vector-260nw-229692004.jpg" alt="Image profil"/>
</div>

<div class="post-content" >
    <div class="post-user-info">
      <h4>{{post.username}}</h4>
      <i class="fas fa-check-circle"></i>
      <span>{{post.publishDate | date: 'dd/MM/yy,HH:mm'}}  </span>
    </div>
    <a
    style="cursor: pointer;"
    [routerLink]="['/posts', post.postId]"
    class="post-text"
    >
    {{ post.content }}
    </a>


    <div class="post-icons">
      <i class="far fa-comment "></i>
      <i class="far fa-thumbs-up "></i>
      <i class="far fa-heart "></i>
      <i class="far fa-share-square "></i>
    </div>
</div>

