

<ng-template [ngIf]="pagedPostResult?.items?.length > 0" [ngIfElse]="noblogs">
  <div class="container  mt-4">
      <app-post-card *ngFor="let post of pagedPostResult.items" [post]="post"></app-post-card>
  </div>
</ng-template>

<ng-template #noblogs>
  <div class="mt-4">
      <div class="d-flex justify-content-center">
          <h3 class="text-dark">There are no blogs published yet...</h3>
      </div>
  </div>
</ng-template>

<div class="container mt-5" *ngIf="pagedPostResult?.totalCount > 0">
  <div class="d-flex justify-content-center">
     <pagination
      [boundaryLinks]="true"
      [maxSize]="12"
      [itemsPerPage]="10"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
      [totalItems]="pagedPostResult.totalCount"
      (pageChanged)="pageChanged($event)"
     ></pagination>
  </div>
</div>

